.dashboard {
  margin-top: 5em;
  .add-shipment {
    form {
      width: 100%;

      .color-picker {
        margin-bottom: 1em !important;
      }
    }

    h3 {
      margin: 1em 0;
    }

    svg {
      height: 100%;
      width: 80%;
      overflow: auto;
    }
  }

  .shipment-history {
    margin-top: 5em;
    h5 {
      max-width: 1140px;
      margin: 2em auto 1em auto;
      padding: 0 15px;
    }
  }
}
