form {
  width: 600px;
  max-width: 90vw;
  .invalid {
    color: $red;
    margin: 0px;
    margin-top: 0.5em;
  }

  .btn-lg {
    width: 100%;
  }
}

.select-small {
  font-size: 0.95em;
  height: initial;
  max-width: 80%;
  padding: 0.1em 0;
}

.check-icon {
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 5px;
  height: 16px;
  width: 16px;

  &:hover {
    fill: green;
  }
}
