.Modal {
  padding: 1em;
  position: absolute;
  min-width: 540px;
  border-radius: 5px;
  border: none;
  background-color: white;
  max-width: 740px;
  .top {
    svg {
      cursor: pointer;
      height: 18px;
      width: 18px;
      &:hover {
        transition: all 0.2s ease;
        fill: $primary-color;
      }
    }
  }

  .header {
    text-align: center;
    margin-bottom: 1em;
    p {
      margin-bottom: 0.5em;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em 3em;
  }

  &:focus {
    outline: none;
  }
}

.Overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  &:focus {
    outline: none;
  }
}
