.nav-logo,
.nav-profile {
  color: inherit;
  text-decoration: none;

  &:hover {
    transition: all 0.2s ease;
    opacity: 0.8;
    text-decoration: none;
    color: $primary-color;
  }
}

.nav-profile {
  font-size: 1.2em;
  font-weight: 500;
}

.nav-logo {
  font-size: 2em;
  font-weight: 600;
}

.profile-name,
.profile-icon {
  vertical-align: middle;
  display: inline-block;
}

.btn-icon {
  height: 32px;
  width: 32px;
}

.navbar {
  padding: 4em 4em 0 4em;
}

@include media-breakpoint-down(md) {
  .navbar {
    padding: 2em 2em 0 2em;
  }
}
