.profile {
  margin-top: 5em;

  .edit-btn {
    cursor: pointer;
    margin-left: 0.5em;
    &:hover {
      transition: all 0.2s ease;
      color: $primary-color;
      text-decoration: underline;
    }
  }
}
