$alternateColor: darken($background-color, 2%);

li {
  .col {
    padding: 1.2em 0em;
    margin: 0 1em;

    .attribute-title {
      font-weight: 600;
      margin-bottom: 0.1em;
    }

    svg {
      margin-top: 0.1em;
    }
  }

  .delete-shipment {
    width: 24px;
    height: 24px;
    margin: 0;
    fill: $gray-800;
    &:hover {
      fill: $danger;
    }
  }

  .spacer {
    width: 26px;
  }

  p {
    margin: 0;
  }
}
li:nth-child(odd) {
  background: $alternateColor;
}
