@import "./variables";
@import "./bootstrap";
@import "./navbar";
@import "./forms";
@import "./shipments";
@import "./dashboard";
@import "./modal";
@import "./profile";

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 5em;
}

a {
  color: inherit;
  text-decoration: inherit;
}

small {
  font-size: 90%;
}

small .small {
  font-size: 90%;
}

.icon-btn {
  color: black;
  margin-left: 0.5em;
  height: 24px;
  width: 24px;
  cursor: pointer;
  &:hover {
    transition: all 0.2s ease;
    color: $primary-color;
  }
}
.small-link {
  cursor: pointer;
  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

.top-container {
  margin-top: 5em;
}

@include media-breakpoint-down(md) {
  h1 {
    font-size: 2em;
  }
}
